In [41]:
import numpy as np
import pandas as pd

In [42]:
fires = pd.read_csv("fires.csv")

In [43]:
fires.head()

,Year,Agency,Wild_Fires,Wild_Acres,Rx_Fires,Rx_Acres,WFU_Fires,WFU_Acres
0,2002.0,BIA,318,11014,13,272,0.0,0
1,NaN,BLM,118,32767,19,1546,0.0,0
2,NaN,FWS,26,956,23,24684,0.0,0
3,NaN,NPS,55,923,47,6938,86.0,"4,137"
4,NaN,ST,6201,95091,0,0,0.0,0

In [44]:
fires.isnull().sum()

Year          108
Agency          0
Wild_Fires      0
Wild_Acres      0
Rx_Fires        0
Rx_Acres        0
WFU_Fires      75
WFU_Acres      75
dtype: int64

In [45]:
fires['Year'] = fires['Year'].ffill()

In [46]:
fires['Year'].isnull().sum()

0

In [47]:
fires['Year'] = fires['Year'].astype(int)

In [48]:
fires.head(10)

,Year,Agency,Wild_Fires,Wild_Acres,Rx_Fires,Rx_Acres,WFU_Fires,WFU_Acres
0,2002,BIA,318,11014,13,272,0.0,0
1,2002,BLM,118,32767,19,1546,0.0,0
2,2002,FWS,26,956,23,24684,0.0,0
3,2002,NPS,55,923,47,6938,86.0,"4,137"
4,2002,ST,6201,95091,0,0,0.0,0
5,2002,FS,1610,365945,565,54922,195.0,1
6,2003,BIA,253,1911,14,188,2.0,0
7,2003,BLM,231,54869,33,1183,0.0,0
8,2003,FWS,29,979,122,23546,0.0,0
9,2003,NPS,97,2243,34,5981,65.0,"14,744"

In [49]:
fires['Year'].where(fires['WFU_Fires'].isnull()).dropna()

49     2009.0
50     2009.0
51     2009.0
52     2009.0
53     2009.0
        ...
119    2017.0
120    2017.0
121    2017.0
122    2017.0
123    2017.0
Name: Year, Length: 75, dtype: float64

In [50]:
fires['Year'].where(fires['WFU_Acres'].isnull()).dropna()

49     2009.0
50     2009.0
51     2009.0
52     2009.0
53     2009.0
        ...
119    2017.0
120    2017.0
121    2017.0
122    2017.0
123    2017.0
Name: Year, Length: 75, dtype: float64

In [51]:
fires['Year'].where(fires['WFU_Fires'].isnull()).dropna() == fires['Year'].where(fires['WFU_Acres'].isnull()).dropna()

49     True
50     True
51     True
52     True
53     True
       ...
119    True
120    True
121    True
122    True
123    True
Name: Year, Length: 75, dtype: bool

In [52]:
fires = fires.drop(['WFU_Fires', 'WFU_Acres'], axis=1)

In [53]:
fires.head(10)

   Year Agency  Wild_Fires  Wild_Acres  Rx_Fires  Rx_Acres
0  2002    BIA         318       11014        13       272
1  2002    BLM         118       32767        19      1546
2  2002    FWS          26         956        23     24684
3  2002    NPS          55         923        47      6938
4  2002     ST        6201       95091         0         0
5  2002     FS        1610      365945       565     54922
6  2003    BIA         253        1911        14       188
7  2003    BLM         231       54869        33      1183
8  2003    FWS          29         979       122     23546
9  2003    NPS          97        2243        34      5981

In [56]:
fires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        124 non-null    int32
 1   Agency      124 non-null    object
 2   Wild_Fires  124 non-null    int32
 3   Wild_Acres  124 non-null    int32
 4   Rx_Fires    124 non-null    int64
 5   Rx_Acres    124 non-null    int64
dtypes: int32(3), int64(2), object(1)
memory usage: 4.5+ KB

In [54]:
fires['Wild_Fires'] = fires['Wild_Fires'].astype(int)

In [55]:
fires['Wild_Acres'] = fires['Wild_Acres'].astype(int)

In [57]:
fires['Rx_Fires'] = fires['Rx_Fires'].astype(int)

In [58]:
fires['Rx_Acres'] = fires['Rx_Acres'].astype(int)

In [59]:
fires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        124 non-null    int32
 1   Agency      124 non-null    object
 2   Wild_Fires  124 non-null    int32
 3   Wild_Acres  124 non-null    int32
 4   Rx_Fires    124 non-null    int32
 5   Rx_Acres    124 non-null    int32
dtypes: int32(5), object(1)
memory usage: 3.5+ KB